name: Build

on:
  schedule:
    - cron: '0 0 * * *'
  release:
    types: [published]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    name: Build with DevkitARM
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
        with:
          submodules: recursive
      - name: Setup environment
        run: git config --global safe.directory '*'
      - name: Install tools
        run: |
          sudo apt-get update
      - name: Build
        id: build
        run: |
          docker build -t devkitarm_utils .
          chmod +x ./.github/ci.sh
          docker run -v "$PWD":"$PWD" --rm -t devkitarm_utils bash -c "$PWD/.github/ci.sh \"$PWD\""
      - name: Send the Release
        uses: actions/upload-artifact@v4
        with:
          name: release
          path: release/*
  release:
    name: "Upload releases"
    runs-on: ubuntu-latest
    needs: [build]
    env:
      GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    steps:
    - name: Checkout repo
      uses: actions/checkout@v4
    - name: Download Artifacts
      run: | 
        gh run download "$GITHUB_RUN_ID" \
          --dir artifacts/ \
          --repo "$GITHUB_REPOSITORY"
    - name: Upload Nightly
      if: github.event_name == 'schedule'
      run: |
        ./.github/upload.sh nightly latest
    - name: Upload Release
      if: github.event_name != 'schedule'
      run: |
        ./.github/upload.sh "$GITHUB_REF_NAME-release" "$GITHUB_REF_NAME"
