name: Build

on:
  schedule:
    - cron: '0 0 * * *' 
  release:
    types: [published]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    container: devkitpro/devkitarm
    name: Build with DevkitARM
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
        with:
          submodules: recursive
      - name: Setup environment
        run: git config --global safe.directory '*'
      - name: Install tools
        run: |
          sudo apt-get update
      - name: Build
        id: build
        run: |
          make
      - name: Zip it up
        run: |
          mkdir release
          mv *.3dsx release
          mv *.smdh release
          mv *.elf release
      - name: Send the Release
        uses: actions/upload-artifact@v4
        with:
          name: release
          path: release/*
  release:
    name: "Upload releases"
    runs-on: ubuntu-latest
    needs: [build]
    steps:
    - name: Checkout repo
      uses: actions/checkout@v4
    - name: Download Artifacts
      run: | 
        gh run download "$GITHUB_RUN_ID" \
          --dir artifacts/ \
          --repo "$GITHUB_REPOSITORY"
    - name: Upload Nightly
      if: github.event_name == 'schedule'
      run: |
        zip -r "nightly.zip" artifacts/release/
        gh release delete-asset latest nightly.zip -y
        gh release delete-asset latest 3ds-donut.3dsx -y
        gh release upload latest nightly.zip
        gh release upload latest artifacts/release/3ds-donut.3dsx
      env:
        GH_TOKEN: ${{ github.token }}
    - name: Upload Release
      if: github.event_name != 'schedule'
      run: |
        zip -r "release-${GITHUB_REF_NAME}.zip" artifacts/release/
        gh release upload "$GITHUB_REF_NAME" "release-${GITHUB_REF_NAME}.zip"
        gh release upload "$GITHUB_REF_NAME" artifacts/release/3ds-donut.3dsx
      env:
        GH_TOKEN: ${{ github.token }}
